title {
    font-family: Gilroy sans-serif;
    font-size: 27.9px;
    font-weight: bold;
    text-align: center;
}
p {
    font-family: Jura Light sans-serif;
    font-size: 16px;
}
q {
    font-style: italic;
}
li {
    text-decoration: none;
    color: gray;
}
li:hover {
    color: black;
}
address {
    text-decoration: none;
    color: gray;
}
address:hover {
    color: black;
}